
* {
  background: #0f0f0f;
  font-family: Readex Pro;
}

.pages {
  display: grid;
}
/* .page {
  border: 1px solid white;
} */
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh 0;
}
.home-about {
  text-align: left;
  /* padding-left: 5vw; */
  width: auto;
  max-width: 900px;
  color: #BDB679;
}

.div-name {
  font-size: 120px;
  font-style: normal;
  font-weight: 500;
  padding-top: 15vh;
  padding-bottom: 2vh;
}

.bio {
  font-family: Inter;
  font-size: calc(2vh + 1vw);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/* Adjust font size for smaller screens (e.g., mobile) */
@media (max-width: 768px) {
  .div-name {
    font-size: 50px; /* Adjust the size as needed for mobile */
  }
  .bio {
    font-size: 20px;
  }
}
.home-links {
  width: 700px;
  display: flex;
  justify-content: flex-end;
  padding-top: 13vh;
  align-items: right;
  margin-left: 12%;
}
.links-list {
  align-items: right;
  width: auto;
  padding-top: .5vh;
}
.home-link {
  font-family: Readex Pro;
  font-size: calc(5.5vh + 1vw);
  list-style: none;
  color: #DBDBDB;
  padding: 10px 0;
  text-align: right;
}

.home-link-hover:hover {
  cursor: pointer;
  color: #888;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 18vh;
  padding-bottom: 5vh;
}

.about-me {
  flex: 1 1 30%;
  text-align: left;
  padding-left: 3vw;
  padding-right: 7vw;
  color: #BDB679;
}

.about-me-title {
  font-size: calc(5vh + 1vw);
  font-style: normal;
  font-weight: 500;
  padding-bottom: 3vh;
}

.about-me-info {
  font-size: calc(1.5vh + 1vw);
  font-style: normal;
  font-weight: 500;

}

.headshot {
  max-width: 45%;
  max-height: 100%;
  padding-left: 4.5vw;
  text-align: center;
}

@media (max-width: 768px) {
  #about {
    flex-direction: column;
  }
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15vh 0;
}


.skills-title {
  font-family: Readex Pro;
  color: #BDB679;
  font-size: calc(5vh + 1vw);
  font-style: normal;
  font-weight: 500;
  padding-bottom: 8vh; 
}

.skills-bubbles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-content: center;
  justify-content: center;
  gap: 40px 100px; 
}

@media (max-width: 768px) {
  .skills-bubbles {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}


.bubble {
  border: 2px solid #BDB679;
  background: #202020;
  box-shadow: 5px 5px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding-top: 1rem;
  align-items: center;
  border-radius: 2rem;
  gap: 2rem;
  width: 350px;
  height: 200px;
}


.header {
  color: #BDB679;
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  background: none;
}
.content {
  color: white;
  text-align: center;
  max-width: 70%;
  background: none;
}