
* {
  background: #0f0f0f;
}

.pages {
  display: grid;
}
.page {
  padding-top: 5vh;
  border: 1px solid white;
}
#home {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
}
.home-about {
  text-align: left;
  padding-left: 5vw;
  width: 700px;
  color: #BDB679;
}

.div-name {
  font-family: Readex Pro;
  font-size: calc(12vh + 1vw);
  font-style: normal;
  font-weight: 500;
  padding-top: 17vh;
  padding-bottom: 2vh;
}

.bio {
  font-family: Inter;
  font-size: calc(2vh + 1vw);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/* Adjust font size for smaller screens (e.g., mobile) */
@media (max-width: 768px) {
  .name {
    font-size: 8vw; /* Adjust the size as needed for mobile */
  }
  .bio {
    font-size: 5vw;
  }
}
.home-links {
  width: 700px;
  display: flex;
  justify-content: flex-end;
  padding-top: 22vh;
  align-items: right;
}
.links-list {
  align-items: right;
  width: auto;
  padding-top: .5vh;
}
.home-link {
  font-family: Readex Pro;
  font-size: calc(5.5vh + 1vw);
  list-style: none;
  color: #DBDBDB;
  padding: 10px 0;
  text-align: right;
}

#about {
  padding-top: 20vh;
  padding-bottom: 20vh;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.about-me {
  width: 49%;
  text-align: left;
  padding-left: 5vw;
  width: 15vw;
  color: #BDB679;
}

.headshot {
  max-width: 65%;
  max-height:65%;
  align-items: center;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
}